.form-group {
    margin-bottom: 9px;
}

#add-desc, #add-author {
    width: 70%;
    height: 33px;
    padding: 0;
    border: 1px solid #EAEAEA;
    display: block;
    margin: 0 auto;
}

.btn-add {
    color: #fff;
    background-color: orange;
    border-radius: 0;
    width: 16%;
    margin: 0;
    border: 1px solid orange;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}
.btn-add:hover {
    border: 1px solid orange;
    color: orange;
    background-color: #fff;
}
.btn-add:focus, #add-desc:focus, #add-author:focus {
    outline: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    text-align: center;
  }